.U1{
    opacity: 100%;
    transition: 500ms;
}

.U1_anime{
    animation: u1_anime 12s infinite;
}

@keyframes u1_anime {

    0%    {transform: translate(0px, 0px) rotate(0deg);}
    12.5%   {transform: translate(115px, 0px) rotate(0deg);}
    25%   {transform: translate(250px, 0px) rotate(0deg);}
    37.5%   {transform: translate(550px, 0px) rotate(90deg);}
    50%   {transform: translate(550px, 100px) rotate(90deg);}
    62.5%   {transform: translate(550px, 180px) rotate(90deg);}
    75%   {transform: translate(550px, 300px) rotate(180deg);}
    87.5%   {transform: translate(150px, 300px) rotate(180deg);}
    100%  {transform: translate(0px, 0px) rotate(0deg);}
    }
    